@font-face {
    font-family: jsMath ;
    src: url(../assets/fonts/jsMath-cmbx10.ttf);
    font-weight: bold;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display:flex; 
    justify-content: space-between;
    background-color: #B4E9D3;
    height: 120px;
    width: 100%;
    
}
.nav-container{
    display: flex;
    align-items: center;
    padding-right: 10px;

}
.navbar {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}
.logo{
    display: flex;
    height: 80px;
    /* align-items: center; */
    padding: 20px;
}
.logo img{
    height: 40px;
}
.navbar li a{
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    color: #12209F;
}
.ubicacion-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #FFEAA1;
    color: #CF42CA;
    border-top: solid grey 1px; 
    border-bottom: solid grey 1px ;
    font-family: 'Oswald', sans-serif;
}
.seccion-hoy{
    display: flex;
    align-items: center;
    background-color: #FFEAA1 ;
    height: 200px;
    width: 100%;
    gap:20px;
    font-family: 'Oswald', sans-serif;
}

.cartel-hoy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 20px;
    background-color: #CF42CA;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.cartel-hoy h2{
    color:white;
    font-size: 40px;
}
.cartel-hoy p{
    color: white;
    font-size: small;
    text-align: center;
}
.articulo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.articulo article{
    text-align: right;   
}
article h3{
    font-size: 30px;
    padding-bottom: 10px;
}
article p{
    font-size: 20px;
}
.articulo img{
    height: 180px;
    padding: 10px;
}
.seccion-info{
    display: flex; 
    align-items: center;
    background-color:#E8FEFF ;
    height: 300px;
    width:100%;
    gap: 10px;
    font-family: 'Oswald', sans-serif;
}
.seccion-info img{
    height: 250px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
}
.espacios-container{
    display:flex;
    height:500px;
    flex-wrap: wrap;
    align-items: center;
    background-color: #E8FEFF;
    overflow: visible;

}
.tarjeta-espacio{
    display: flex;
    flex-flow: column wrap;
    height: 240px;
    width: 440px;
    border-radius: 10px;
    margin:20px;
    box-shadow: 10px 10px 5px rgba(92, 90, 90, 0.164);
    overflow: hidden;
    background-color: white;
}
.tarjeta-espacio p{
    padding-left: 10px;
    padding-top: 10px;
}

.tarjeta-espacio img{
    height: 200px;
}
.noticias{
    display: flex;
    gap: 20px;
    background-color: #E8FEFF;
    flex-wrap: wrap;
}
.tarjeta-noticia {
    display:flex;
    border-radius: 10px;
    background-color: white;
    height: 275px;
    width: 600px;
    margin:20px;
}
.footer {
    display:flex;
    position: relative;
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #B4E9D3;
    justify-content: center;
    align-items: center;
  }
.footer p{
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

    /* justify-content: flex-end; */
    /* justify-content: space-around; se distribuyen elementos en el 100% del contenedor 
    align-items: flex-start; los deja arriba, center van al medio */

/* 
display:flex; necesario para usar flex
flex-direction:row; viene por defecto
flex-wrap: wrap; mantiene la forma de los elementos 
se puede resumir con->
flex-flow: row wrap; resume flex direction y flex wrap
gap:20px; separa los elementos en 20px

*/


