@font-face {
    font-family: jsMath;
    src: url(../assets/fonts/jsMath-cmbx10.ttf);
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    
}

body{
    overflow-x: hidden;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #B4E9D3;
}

.nav-container {
    align-self: center;
    width: 100%;

}
.fuente-logo {
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 32px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 10px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}

.logo {
    justify-self: flex-start;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    height: 80px;
    padding: 10px 0px 30px 10px;
    margin: 0px 0px 20px 10px;
}

.logo-abajo {
    font-size: 40px;
}

.logo img {
    height: 70px;
}


.navbar li a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #12209F;
}

.navbar li a:hover {
    color: #0a1258;
}

.main-index-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.main{
    grid-row: 2/3;
}

.ubicacion-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #FFEAA1;
    color: #CF42CA;
    border-top: solid grey 1px;
    border-bottom: solid grey 1px;
    font-family: 'Oswald', sans-serif;
}

.seccion-hoy {
    display: flex;
    align-items: center;
    background-color: #FFEAA1;
    height: 100%;
    width: 100%;
    gap: 20px;
    font-family: 'Oswald', sans-serif;
}

.cartel-hoy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 20px;
    background-color: #CF42CA;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.cartel-hoy h2 {
    color: white;
    font-size: 40px;
}

.cartel-hoy p {
    color: white;
    font-size: small;
    text-align: center;
}

.articulo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.articulo article {
    text-align: right;
}

article h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

article p {
    font-size: 20px;
}

.articulo img {
    height: 180px;
    padding: 10px;
}

.seccion-info {
    display: flex;
    align-items: center;
    background-color: #E8FEFF;
    height: 100%;
    width: 100%;
    gap: 10px;
    font-family: 'Oswald', sans-serif;
}

.seccion-info img {
    height: 250px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
}

.espacios-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 44% 44% 12%;
    background-color: #E8FEFF;

}

.tarjeta-espacio {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    height: 180px;
    width: 350px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 10px 10px 5px rgba(92, 90, 90, 0.164);
    overflow: hidden;
    background-color: white;
}

.tarjeta-espacio:hover {
    box-shadow: 10px 10px 10px rgba(92, 90, 90, 0.164);
    border: solid white 1px;
}

.tarjeta-espacio p {
    grid-column: 1/6;
    grid-row: 6 / 7;
    width: 100%;
    padding: 4px;
}

.tarjeta-espacio img {
    grid-column: 1 / 1;
    grid-row: 1 / 6;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

.noticias {
    display: flex;
    justify-content: space-around;
    background-color: #E8FEFF;
    flex-wrap: wrap;
}

.tarjeta-noticia {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: white;
    height: 275px;
    width: 600px;
    margin: 20px;
    padding: 15px;
    overflow: hidden;
}

.tarjeta-noticia h3 {
    font-family: sans-serif;
    font-size: 30px;

}

.tarjeta-noticia.n2 .cuerpo article {
    width: 420px;
}

.tarjeta-noticia.n2 .cuerpo {
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
}

.tarjeta-noticia.n3 .cuerpo {
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
}

.tarjeta-noticia.n3 .cuerpo article {
    width: 400px;
}

.tarjeta-noticia.n3 img {
    height: 136px;
    width: 136px;
    object-fit: cover;

}

.tarjeta-noticia.n2 img {
    height: 118px;
    width: 118px;
    border-radius: 50%;
}

.grid-contacto {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 44% 44% 12%;
    background-color: #E8FEFF;
}


.mensaje {
    font-size: 30px;
    font-weight: bold;
}


.tarjeta-contacto {
    border: none;
    font-family: sans-serif;
    text-align: center;
    background-color: #FFE0FE;
}

.tarjeta-contacto h3 {
    text-align: center;
    font-size: 35px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.tarjeta-contacto p {
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.seccion-hoy-actividades {
    grid-row:1/2;
    grid-column: 1/4;
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #CF42CA;
    color: white;
    font-family: sans-serif;
}

.seccion-hoy-actividades h3 {
    margin-right: 40px;
    font-size: 50px;
}

.seccion-hoy-actividades h4 {
    font-size: 30px;
}

.seccion-hoy-actividades img {
    width: 360px;
}

.seccion-manana {
    grid-row: 2/3;
    grid-column: 1/4;
    display: flex;
    flex-wrap: column wrap;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    background-color: #E8FEFF;
    font-family: sans-serif;
 
}

.seccion-manana h3 {
    margin-right: 40px;
    font-size: 50px;
}

.seccion-manana h4 {
    font-size: 30px;
}

.seccion-manana img {
    width: 300px;
}
.grid-actividades{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 44% 50% 6%;
}

.footer {
    grid-row: 3/4;
    display: flex;
    position: relative;
    height: 100%;
    left: 0;
    bottom: auto;
    width: 100%;
    background-color: #B4E9D3;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}

@media (max-width:991px){
    header {
        grid-template-columns: auto auto;
    }
    .navbar li a {
        font-size: 15px;
    }
    .logotipo{
        width:auto;
    }

}

@media (max-width: 768px) {
   

    .logo img {
        height: 60px;
    }

    .tarjeta-espacio {
        height: 150px;
        width: 320px;
    }

    article p {
        font-size: 15px;
    }

    .seccion-info img {
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 580px) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }

    .main-index-container{
        overflow-y: scroll;
    }

    .logo {
        justify-self: center;
        align-items: center;

    }

    .navbar {
        flex-flow: column wrap;
        align-items: center;
    }

    .cartel-hoy h2 {
        justify-content: center;
        font-size: 25px;
    }

    .cartel-hoy p {
        visibility: hidden;
    }

    .espacios-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 15%;
        overflow-y: scroll;
        padding: 10px;
    }

    .tarjeta-espacio {
        width: 300px;
    }

    .footer p {
        text-align: center;
    }

    .seccion-hoy {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15% 1fr 1fr;
    }

    .cartel-hoy {
        height: 75px;
        width: 75px;
        grid-row: 1 / 2;
        margin-top: 10px;
    }
    .articulo{
        grid-column: 1/3;
        grid-row: 2/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .articulo img{
        grid-column: 2 / 3;
        grid-row: 1/2;
        width: 200px;
    }
    .articulo article{
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        display:grid;
        grid-template-columns: 1fr 10% 50%;
        grid-template-rows: 1fr 1fr;
    }
    .articulo article h3{
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 2px;
    }
    .articulo article p{
        grid-column:1/4;
        grid-row: 2/3;
        margin: 10px;
    }
   
    .seccion-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .seccion-info img{
        grid-column: 1/ 2;
        grid-row: 1 / 2;
    }

    .seccion-info article {
        grid-column: 1/3;
        grid-row: 1/3;
        display: grid;
        grid-template-columns: 50% 10% 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .seccion-info article h3{
        margin: 2px;
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .seccion-info article p{
        grid-column:1/4;
        grid-row: 2/3;
    }
  



}


