* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../assets/img/orquesta.jpg');
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    .grid-container {
        @include grid(1fr, repeat(3, auto));
        @include sizes(100%, 100%);
        
    }
}