.grid-contacto {
    @include sizes(100%,100%);
    @include grid(1fr, 44% 44% 12%);
    background-image: url('../assets/img/fondo-contacto.jpg');
    background-position: center;
    background-size: cover;
    
    .container-fluid{
        .container{
            .tarjeta-contenedor{
                .tarjeta-contacto {
                    border: none;
                    font-family: sans-serif;
                    text-align: center;
                    background-color:$bgc_tarjeta-contacto;
                    h3 {
                        text-align: center;
                        
                        font-size: 35px;
                        padding-top: 25px;
                        padding-bottom: 10px;
                    }
                    p {
                        font-size: 20px;
                        padding-top: 10px;
                        font-weight: bold;
                    }
                }
            }
            .mensaje {
                text-shadow: 2px 2px 3px white;
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}




