@media (max-width: 794px) {
    .body{

        background-image: url('../assets/img/orquesta-794.jpg.jpg');
        background-position: cover;
        background-repeat: no-repeat;
    }
    
    .logo img {
        height: 60px;
    }
    .navbar{
        li{
            a{
                font-size: 12px;
            }
        }
    }
    .tarjeta-espacio {
        @include sizes(320px,150px);
    }
    article p {
        font-size: 15px;
    }
    .seccion-info img {
        @include sizes(200px,200px);
    }
    .main-index-container {
        .carousel{
            width: 600px;
        }
    }
    .main-index-container {
        .carousel {
            width: 500px;
        }
    }

    //PAGINA ACTIVIDADES
    .grid-actividades {
        .seccion-hoy-actividades {
            @include grid(1fr, 10% 1fr,center,center);
            background-image: url(../assets/img/cine.jpg);
            background-size: contain;
            background-position: center;
            h3{
                grid-column:1/2;
                grid-row: 1/2;
                font-size: 30px;
            }
            img{
                display: none;
            }
            article{
                grid-column: 1/2;
                grid-row: 2/3;
                overflow: scroll;
                text-shadow: 2px 2px 4px #000000;
            }
        }
        .seccion-manana{
            @include grid(1fr, 10% 1fr,center,center);
            overflow-y: scroll;
            background-image: url(../assets/img/recital.png);
            background-size: cover;
            background-position: center;
            h3{
                color:whitesmoke;
                grid-column: 1/2;
                grid-row: 1/2;
                font-size: 30px;
            }
            img{

                display: none;
            }
            article{
                color:whitesmoke;
                grid-column: 1/2;
                grid-row: 2/3;
                overflow: scroll;
                text-shadow: 2px 2px 4px #000000;
            }
        }
        
    }
}