@media (max-width:991px) {
    
    header {
        grid-template-columns: 50% 50%;
    }

    .navbar {
        justify-content: space-between;

        li {
            padding:5px;
            a {
                font-size: 15px;
            }
        }
    }

    .logotipo {
        width: auto;
    }

}