.ubicacion-container {
    @include flex($align: center, $justify: center);
    @include sizes(100%, 60px);
    background-color: $bgc_ubicacion;
    color: $color_ubicacion;
    border-top: solid $borde_ubicacion 1px;
    border-bottom: solid $borde_ubicacion 1px;
    h2 {
        font-family: 'Oswald', sans-serif;
    }
}