@mixin flex($direction:row,$justify:flex-start,$align:normal,$gap:0px){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap:$gap;
}

@mixin grid($gTc:1fr, $gTr:1fr,$justify:start,$align:center,$gap:0px){
    display:grid;
    grid-template-columns: $gTc;
    grid-template-rows: $gTr;
    justify-content:$justify;
    align-content: $align;
    $gap:$gap;
}

@mixin sizes($width:auto, $height:auto){
    height: $height;
    width: $width;
}