.main-noticias{

    .noticias {
        background-color: rgba(232, 254, 255, 0.8);
        @include grid(1fr 1fr, repeat(3,auto));

        .tarjeta-noticia {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-radius: 10px;
            background-color: white;
            margin: 20px;
            padding: 15px;
            overflow: hidden;

            h3 {
                font-family: sans-serif;
                font-size: 30px;
            }
        }
        .n1{
            grid-row: 1/2;
            grid-column: 1/2;
        }
        .n2 {
            grid-row: 2/3;
            grid-column: 1/2;
            .cuerpo {
                gap: 20px;
                padding: 10px;

                article {
                    width: 100%;
                }
                
            }
            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .n3 {
            grid-row: 1/3;
            grid-column: 2/3;
            .cuerpo {
                display: flex;
                flex-wrap: row wrap;
                justify-content: flex-start;
                gap: 20px;
                padding: 10px;

                article {
                    width: 100%;
                }
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .n4{
            grid-row: 3/4;
            grid-column: 1/3;
        }
    }
}