@media (max-width: 580px) {

    //MAIN ESPACIOS
    .main-espacios {
        .espacios-container {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;

            
            .tarjeta-espacio{
                margin-top:10px;
                @include sizes(80%, 200px)
            }
        }
    }

    //MAIN ACTIVIDADES
    .main-actividades{
        .grid-actividades{
            .seccion-hoy-actividades{
                h3{
                    font-size: 40px;
                }
                .article{
                    h4{
                        font-size: 25px;
                    }
                }
            }
            .seccion-manana{
                h3{
                    font-size: 40px;
                }
                .article{
                    h4{
                        font-size: 25px;
                    }
            }
            }
        }
    }
    //MAIN CONTACTO
    .main-contacto{
        .grid-contacto{
            .container-fluid {
                .container {
                    .tarjeta-contenedor {
                        .tarjeta-contacto {
                                .h3 {
                                    font-size: 30px;
                                }
                                p{
                                    font-size: 15px;
                                }
      
                        }
                    }
                    .mensaje{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    
    

    //FOOTER
    .footer p {
        text-align: center;
    }

}