@media (max-width: 580px) {
    body{
        background-image: url('../assets/img/orquesta-580.jpg');
        background-size: contain;
    }
    //HEADER
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }
    .logotipo {
        justify-self: center;
        align-items: center;

    }
    .navbar {
        flex-flow: column wrap;
        align-items: center;
    }
    //INDEX
    .main-index-container{
        overflow-y: scroll;
    }

    //ESPACIOS

    .espacios-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 15%;
        overflow-y: scroll;
        padding: 10px;
    }

    .tarjeta-espacio {
        width: 300px;
    }
    //FOOTER
    .footer p {
        text-align: center;
    }

    //MAIN ACTIVIDADES
    .main-actividades{
        .grid-actividades{
            .seccion-hoy-actividades{
                h3{
                    font-size: 40px;
                }
                .article{
                    h4{
                        font-size: 25px;
                    }
                }
            }
            .seccion-manana{
                h3{
                    font-size: 40px;
                }
                .article{
                    h4{
                        font-size: 25px;
                    }
            }
            }
        }
    }

}