@media (max-width: 480px) {
    //INDEX
    .main-index-container {
        .carousel {
            width: 300px;
        }
    }
    //MAIN ACTIVIDADES
    .main-actividades{
        .grid-actividades{
            .seccion-hoy-actividades{
                h3{
                    font-size: 30px;
                }
                .article{
                    h4{
                        font-size: 20px;
                    }
                }
            }
            .seccion-manana{
                h3{
                    font-size: 30px;
                }
                .article{
                    h4{
                        font-size: 20px;
                    }
            }
            }
        }
    }

}