@media (max-width:991px) {

    .logotipo {
        width: auto;
    }
    //  PAGINA ACTIVIDADES
    .grid-actividades {
        .seccion-hoy-actividades {

            article {

                h4 {
                    font-size: 25px;
                }

                p {
                    font-size: 12px;
                } 
            }
        }

        .seccion-manana {
            h3 {
                font-size: 30px;
            }

            article {
                h4 {
                    font-size: 25px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
}