$bgc_ubicacion:#FFEAA1;
$color_ubicacion:#CF42CA;
$borde_ubicacion:grey;
$bgc_contacto: #E8FEFF;
$bgc_tarjeta-contacto: rgba(255, 224, 254,0.8);
$bgc_header:#B4E9D3;
$bgc_footer: $bgc_header;
$bgc_body: lightblue;
$fuente-logo:'Great Vibes', cursive;