.noticias {
    display: flex;
    justify-content: space-around;
    background-color: #E8FEFF;
    flex-wrap: wrap;
    .tarjeta-noticia {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        border-radius: 10px;
        background-color: white;
        @include sizes(600px,275px);
        margin: 20px;
        padding: 15px;
        overflow: hidden;
        h3 {
            font-family: sans-serif;
            font-size: 30px; 
        }
    }
    .n2 {
        .cuerpo {
            display: flex;
            flex-wrap: row wrap;
            justify-content: flex-start;
            gap: 20px;
            padding: 10px;
            article {
                width: 420px;
            }
        }
        img {
            @include sizes(118px, 118px);
            border-radius: 50%;
        }
    }
    .n3 {
        .cuerpo {
            display: flex;
            flex-wrap: row wrap;
            justify-content: flex-start;
            gap: 20px;
            padding: 10px;
            article {
                width: 400px;
            }
        }
        img {
            @include sizes(136px, 136px);
            object-fit: cover;
        }
    }
}
