@media (max-width: 768px) {
    
    .logo img {
        height: 60px;
    }
    .navbar{
        li{
            a{
                font-size: 12px;
            }
        }
    }
    .tarjeta-espacio {
        @include sizes(320px,150px);
    }
    article p {
        font-size: 15px;
    }
    .seccion-info img {
        @include sizes(200px,200px);
    }
}